
.img{
 height: 5pc;
}

.link{
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 20px;
    transition: 5s;
}
.link:hover{
 color: red;

}
.header1{
    margin-top: 10px;
    margin-bottom: 0px !important;
}

.btn1,.btn2{
    color: wheat;
    cursor: pointer;
}

.btn1{
    padding: 7px;
    background-color:#00ADB5;
    display: inline-block;
    padding: 7px 20px;
    border-radius: 5px;
}
.btn2{
    padding: 7px;
    background-color:gray;
    display: inline-block;
    padding: 7px 20px;
    border-radius: 5px;
}

.arrow{
    text-decoration: none;
    color: black !important;
    display: inline-block;
    background-color: wheat;
    text-align: center;
    padding: 15px 20px;
    cursor: pointer;
    margin-left: 40%;
    transition: 3s;
}

.arrow:hover{
   border:1px solid red;
   color: white;
   background-color: gray;
}

.aboutme{
    margin-top: 50px;
}

.project{
    margin-top: 60px;
  
}
#button{
    margin: 30px 5px;
}
.project{
    padding: 100px;
    
}
.project1{
    margin-top: 100px;
}
#btn{
    border-radius: 10px !important;
}

.contact{
    margin-top: 100px;
}

textarea{
   background-color: rgba(128, 128, 128, 0.274);
}

.buton{
    display: inline-block !important;
    background-color:  #00ADB5 !important;
    border:1px solid  #00ADB5;
    padding: 7px 12px;
    border-radius: 20px;
    cursor: pointer;
}

footer{
    margin-top: 100px;
    margin-bottom: 30px;
  
}

.icon{
    color: white;
    
}

#element{
    margin-bottom: 0 !important;
}
.content{
    color: wheat;
    font-size: 30px;
    cursor: pointer;
}

.last{
    margin-right: 5%;
}